/data/
.DS_Store
__pycache__/
.idea
.vscode/
params/train/params-cifar-10-r2-emoa-light.json
params/eval/params-cifar-10-r2-emoa-light.json
params/search/params-cifar-10-r2-emoa-light.json
evaluation_deprecated/
evaluations.csv
*.sh
r2_weights/